.Pager {
	display: inline-flex;
	align-items: center;
	position: sticky;
    left: 50%;
    transform: translateX(50%);

	.page-total {
		display: block;
		padding: 0 0.5em;

		.separator {
			padding: 0 0.6em;
		}
	}
}
