.Tabs {
	display: flex;
	flex-wrap: wrap;
	gap: 0.6em;

	&.vertical {
		flex-direction: column;
		width: 100%;
	}

	.tab {
		color: rgba(black, 0.6);

		&.horizontal {
			justify-content: center;
		}

		&.vertical {
			margin-bottom: 0.2em;
		}

		&.button {
			font-size: 1.05em;
			font-weight: 600;
			cursor: pointer;

			&:active {
				background-color: rgba(slategray, 0.1) !important;
			}

			&.active {
				color: inherit;
			}

			&:not(.active):hover {
				color: inherit;
				background-color: transparent;
			}
		}
	}
}
